.custom-heading {
	background-color:#3A5795;
	height: 43px;
	
}

body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.form-control {
	position: relative;
top: 5px;
left: 25%;
}

.logo1{
	color: white;
	font-size: 30px;
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight: bold;
	position: relative;
	left: 300px;
}

.logo1:link {
    color: white;
    text-decoration: none;
}

.logo1:hover {
	color: white;
	text-decoration: none;
}


.logo1:visited{
color: white;
text-decoration: none;
}

.logo1:active {
	color: white;
	text-decoration: none;
}

#button1 {
	position: relative;
	right: -75px;
	top: 8px;
}

.status-box {
	background-color: white;
	margin-top: 20px;
	margin-bottom:20px;
	
	
}

.trending {
	background-color: white;
	height: 225px;
}

body {
  	background-color: #E9EAED;

}

.left-sidebar {
	position: relative;
	left: 50%;
}

.left-sidebar ul li {
list-style-type: none;
}
.left-sidebar ul li a {
list-style-type: none;
color: black;
}

.left-sidebar ul li a:link {
	text-decoration: none;
}

.left-sidebar ul li a:hover {
	text-decoration: none;
}


.left-sidebar ul li a:visited {
	text-decoration: none;
}

.search-bar {
	position:relative;
	left: 20px;
}

#nav-text li {
	position: relative;
	left: 800px;
	top:-3px;
	display: inline-block;
}
#nav-text li a {
	color: white;
	}

	nav div form {
		position: relative;
		left: -10%;
	}

.make-status {
height:33px;
border-bottom: 1px solid #F6F7F8;
background-color: white;
}	
.make-status ul li {
display: inline-block;
padding: 0px 3px 0px 3px;
margin: 0px 10px 0px 10px;
	}
	.make-status ul {
		text-align: center;
		position: relative;
		right:20px;
		top: 4px
	}

.inputarea {
	height: 73px;
	border-bottom: 1px solid #F6F7F8;
	background-color: white;
}

.inputarea textarea {
position: relative;
left:0px;

}

.submit-button {
	margin-bottom: 20px;
	height:40px;
	background-color:#F6F7F8;
	text-align: right;
}
#button12 {
	position: relative;
	right:10px;
	top:5px;
	background-color:#3A5795 ;
	color: white;
}

.face-name {
	padding: 10px;
	height:60px;

}

.face-name a {
position: relative;
top: -10px;
font-weight: bold;
margin-left: 10px;
}

.face-name small {
	position: relative;
	top: 10px;
	right:85px;
	font-weight: bold;
}

.status-content {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	
}

.like-comment-share {
	padding:0px 10px 10px 10px ;
}

small {
	color:#9197a3;
}


.likes small {
	color: black;
}

.likes {
	background-color: #F6F7F8;
	padding: 5px;
}

.write-a-comment {
	background-color: #F6F7F8;
	margin-top: -15px;
}

.write-a-comment form input {
	position: relative;
	width: 85%; 
	left: 60px;
	bottom: 20px;
	height: 40px;

}

.write-a-comment img {
	position: relative;
	top: 20px;
	left:10px;
}


.face-name-comments {
position: relative;
left:5px;
padding-bottom:-15px;
margin-bottom: -20px;
padding-top: 5px;

}
.name1{
position: relative;
top: -10px;

font-size: 12px

}

.name1 a {
	font-weight: bold;
}



.comment-date-like-div {
	position: relative;
	left:44px;
	top:-20px;
	font-size: 12px;
	color:gray;
}

.status-date {
	color: gray;
	position: relative;
	left: 55px;
	top: -20px;
	margin:0px;
	font-size: 12px

}


